@charset "UTF-8";

header{
　width: 100%;
　height: 50px;
}
footer{
    width: 100%;
    height:40px;
}
body {
  background-color: white;
}
p {
  text-align: center;
  font-family: "Hachi Maru Pop", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.hachi-maru-pop-regular {
  text-align: center;
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}
h1 {
  text-align: center;
  font-family: "Hachi Maru Pop", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
  
